* {
    background-color: rgba(15, 32, 48, 0.788);
}

.clock {
    position: absolute;
    top: 220px;
    margin: 0 40%;
    background-color: transparent;
}

.clock-cicle {
    width: 250px;
    height: 250px;
    border: 10px solid rgba(9, 16, 48, 0.63);
    border-radius: 50%;
    background-color: transparent;
}

.hand {
    transform-origin: top right;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.46, 0.66, 0.97);
}

.hour-hand {
    width: 53px;
    border-top: solid 5px rgba(9, 16, 48, 0.63);
    position: relative;
    top: 130.5px;
    left: 73.5px;
}

.minute-hand {
    width: 80px;
    border-top: solid 3px rgba(9, 16, 48, 0.63);
    position: relative;
    top: 126.5px;
    left: 45px;
}

.second-hand {
    width: 105px;
    border-top: solid 1px rgba(9, 16, 48, 0.63);
    position: relative;
    top: 123px;
    left: 19.5px;
}

.dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 119px;
    left: 119px;
}